/* Root */
:root {
    --note-height: -2px;
    --backgroundColor: #f2d8d8ff;
    --color1: #00274aff;
    --color2: white;
    --highlightColor: #4ec091ff;
    --warningColor: #c04e7eff;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: var(--backgroundColor);
    font-family: Roboto;
}

#root {
    height: 100%;
    user-select: none;
}

/* Root Layout */
.rootLayout {
    height: 100%;
}

/* Sight read */
.sightRead {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.optionContainer {
    display: inline-flex;
    justify-content: center;
}

/* Timer.js */
.timerContainer {
    width: 100%;
    height: 2.5vh;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.timerInnerContainer {
    width: 100%;
    height: 2.5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: block;
    position: relative;
}

.timerBody {
    height: 2.5vh;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.timeRemaining {
    width: 100%;
    height: 1.5vh;
    background-color: var(--backgroundColor);
}

/* Piano Helper */
.pianoHelperContainer {
    width: 100%;
    height: 10vh;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.pianoHelperInnerContainer {
    width: 100%;
    height: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: block;
    position: relative;
}

.whiteNotes {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
}

.whiteNote {
    flex-grow: 1;
    background-color: var(--backgroundColor);
    border-color: var(--color1);
    border: 1px;
    border-style: solid;
}

.blackNotes {
    width: 100%;
    height: 5vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
}

.blackNote {
    background-color: black;
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    border: 1px;
    border-style: solid;
}

.halfSpacer {
    flex-grow: 0.5;
    opacity: 0;
}

.fullSpacer {
    flex-grow: 1;
    opacity: 0;
}

/* Sight read options */
.sightReadOptionContainer {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vh;
    width: 15vw;
}

.sightReadOption {
    appearance: none;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'Roboto';
    background-color: var(--color1);
    color:var(--color2);
    font-size: 4vh;
}

/* Difficulty Selector */
.difficultySelector {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vh;

}

/* Performance */
.performance {
    height: 100%;
    width: 100%;
}

/* Note Display */
.note {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 161px;
    left: 445px;
    top :var(--note-height);
    scale: 0.6;
}

/* Note display */
.noteDisplay {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    scale: 0.8;
    height: 50vh;
}

.SVGContainer {
    width: 1100px;
    margin: 3%;
    position: relative;
    flex: 0 0 auto; 
}

@media screen and (max-width: 1200px) {
    .noteDisplay {
        scale: 0.6;
    }
}

@media screen and (max-height: 800px) {
    .noteDisplay {
        scale: 0.6;
    }
}

@media screen and (max-width: 1000px) {
    .noteDisplay {
        scale: 0.5;
    }
}

@media screen and (max-height: 600px) {
    .noteDisplay {
        scale: 0.3;
    }
}

@media screen and (max-width: 500px) {
    .noteDisplay {
        scale: 0.3;
    }
}


/* Extra Lines */
.extraLinesContainer {
    position: absolute;
    scale: 0.87;
    left: 497px;
    top: -154px;
}

/* Combo */
.comboContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

.comboText {
    margin: 0.2vw;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 5vh;
    color: var(--color1);
}

#highestCombo {
    font-size: 2vh;
}

#prevCombo {
    font-size: 2vh;
}

/* Grand Staff */
.grandStaff {
    top: -4px;
    position: absolute;
}

/* Splash */
.splash {
    width: 100%;
    height: 100%;
    position: relative;
}

.outerTitleContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.titleLetter {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    font-size: 16vmin;
    color: var(--color1);
}

.innerTitleContainer {
    position: fixed;
    top: 120%;
    display: inline-flex;
}

.transparent {
    opacity: 0;
}
#splashStart {
    position: fixed;
    top: 150vh;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 6vmin;
    color: var(--color1);
    transition: font-size 0.15s ease-in-out;

}

#splashStart:hover {
    font-size: 8vmin;
}

/* Main */
.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.menuOptionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.menuOption {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 5vw;
    color:var(--color2);
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--color1);
    padding: 5px;
    padding-right: 5vw;
    padding-left: 5vw;
    transition: width 0.15s ease-in-out;
    width: 30vw;
}

.menuOption:hover {
    width: 35vw;
}

.pianoMenuDecorationContainer {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: right;
}

.pianoMenuDecoration {
    position: fixed;
    height: 125%;
    top: -25vh;
}

/* Back button */
/* Inherits from .menuOption */
.backButtonContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.backButton {
    font-size: 2vmax;
    padding-right: 5vw;
    padding-left: 5vw;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    color:var(--color2);
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--color1);
    padding: 5px;
    padding-right: 5vw;
    padding-left: 5vw;
    transition: font-size 0.15s ease-in-out;

}

.backButton:hover {
    font-size: 2.5vw;
}

/* Achievements */
.achievements {
    width: 100%;
    height: 100%;
}

.achievementsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.achievementsScroller {
    width: 50vw;
    height: 70vh;
    background-color: var(--color1);
    overflow: auto;
}

.achievementsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.achievementSubtext {
    margin: 0;
    font-family: Roboto;
    font-weight: 100;
    font-size: 2vh;
    color:var(--color2);
}

.achievementName {
    margin: 0;
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
}

.achievementsListSubContainer {
    display: flex;
    flex-direction: column;
    padding: 0 2vw;

}

.locked {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
    border-style: solid;
    border-color: #00182E;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.unlocked {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
    border-style: solid;
    border-color: #00182E;
    background-color: var(--highlightColor);
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

#achievementsTitle {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 8vh;
    color: #00182E;
}

/* ScrollBar */
::-webkit-scrollbar {
    background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
    background-color: #4f9ce1ff;
}

/* Toast */
.toastTitle {
    font-size: 3vh;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-weight: 100;
}

.toastSubtitle {
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-weight: 100;
}

.lock {
    height: 2vh;
}

.coins {
    padding-left: 1.7vw;
}

/* tutorial */
.tutorial {
    width: 100%;
    height: 100%;
}
.tutorialModalTitle {
    font-family: Roboto;
    font-weight: 100;
    font-size: 7vmin;
    color:var(--color2);
    margin: 2vh;
}

.tutorialModalText {
    font-family: Roboto;
    font-weight: 100;
    font-size: 2.2vh;
    color:var(--color2);
    padding: 2vh 4vw;
}

.tutorialModalOkButton {
    background-color:var(--color2);
    color: black;
    font-size: 5vh;
    border: none;
    font-family: Roboto;
    font-weight: 100;
    margin: 4vh;
    position: fixed;
    top: 75vh;
}

.tutorialModalOkButton:hover {
    background-color: var(--highlightColor);
    color: black;
}

.tutorialModalInnerContainer {
    display: inline-flex;
    align-items: center;
    margin: 5vh 15vw;
}

.tutorialModalOuterContainer {
    display: flex;
    position: fixed;
    top: 0vh;
    height: 80vh;
    background-color: rgb(0, 39, 74);
    flex-direction: column;
    align-items: center;
    border-top: 10vh solid var(--backgroundColor);
    border-bottom: 10vh solid #f2d8d8;
    width: 100vw;
}
.tutorialImage {
    height: min(40vh, 20vw);
}

.tutorialTextContainer {
    overflow: auto;
    height: 38vh;
    width: 35vw;
}

.tutorialContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorialTaskText {
    font-family: Roboto;
    font-weight: 100;
    color: var(--color1);
    font-size: 6vmin;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.tutorialCounter {
    font-family: Roboto;
    font-weight: 100;
    font-size: 2.2vh;
    color: var(--color1);
    font-size: 4vh;
    margin: 0;
}

.tutorialHelpButton {
    background-color: var(--color1);
    color:var(--color2);
    font-size: 5vh;
    border: none;
    font-family: Roboto;
    font-weight: 100;
    margin: 4vh;
    transition: font-size 0.15s ease-in-out;
    position: fixed;
    top: 80vh;
}

.tutorialHelpButton:hover {
    font-size: 6vh;
}

.tutorialContainer .noteDisplay {
    position: fixed;
    top: 11vh;
}

.tutorialContainer .pianoHelperContainer {
    position: fixed;
    top: 68vh;
}

/* Freeplay */
.freeplayTitle {
    font-family: Roboto;
    font-weight: 100;
    font-size: 2.2vh;
    color: var(--color1);
    font-size: 6vh;
    margin-bottom: 30vh;
    margin-top: 10vh;
}

.freeplayInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Settings */
.settingsInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center
}

.settingsTitle {
    font-family: Roboto;
    font-weight: 100;
    font-size: 8vh;
    color: var(--color1);
}

.midiStatus {
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
    background-color: var(--color1);
    padding: 1vh;
    margin: 1.5vh;
}

.muteButton {
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
    background-color: var(--color1);
    padding: 1vh;
    border: none;
    margin: 1.5vh;

}

.resetProgess {
    font-family: Roboto;
    font-weight: 100;
    font-size: 4vh;
    color:var(--color2);
    background-color: var(--warningColor);
    padding: 1vh;
    border: none;
    margin: 1.5vh;
}


@media (orientation: portrait) {
    /* Piano helper */
    .pianoHelperInnerContainer {
        margin: 0;
    }

    /* Tutorial */
    .tutorialModalInnerContainer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .tutorialImage {
        height: 20vh
    }

    .tutorialTextContainer {
        width: 100vw;
    }

    .tutorialTaskText {
        margin-top: 10vh;
    }

    .sightReadOptionContainer {
        width: 100%;
    }

    .timerInnerContainer {
        margin: 0;
    }

    .achievementsScroller {
        width: 100vw;
    }
}