.abcjs-note.filled {
    fill: red;
}

/* Root */
:root {
    --note-height: -2px
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: #f2d8d8ff;
}

#root {
    height: 100%;
}

/* Root Layout */
.rootLayout {
    height: 100%;
}

/* Sight read */
.sightRead {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.optionContainer {
    display: inline-flex;
    justify-content: center;
}

/* SingleNote.js */
.singleNote {
    width: 100%;
}

.invisible {
    opacity: 0;
}
/* Timer.js */
.timerContainer {
    width: 100%;
    height: 2.5vh;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.timerInnerContainer {
    width: 100%;
    height: 2.5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: block;
    position: relative;
}

.timerBody {
    height: 2.5vh;
    background-color: #00274aff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.timeRemaining {
    width: 100%;
    height: 1.5vh;
    background-color: #f2d8d8ff;
}

/* Piano Helper */
.pianoHelperContainer {
    width: 100%;
    height: 10vh;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.pianoHelperInnerContainer {
    width: 100%;
    height: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: block;
    position: relative;
}

.whiteNotes {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
}

.whiteNote {
    flex-grow: 1;
    background-color: #f2d8d8ff;
    border-color: #00274aff;
    border: 1px;
    border-style: solid;
}

.blackNotes {
    width: 100%;
    height: 5vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
}

.blackNote {
    background-color: black;
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    border: 1px;
    border-style: solid;
}

.halfSpacer {
    flex-grow: 0.5;
    opacity: 0;
}

.fullSpacer {
    flex-grow: 1;
    opacity: 0;
}

/* Key Selector */
.keySelector {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vh;
}

/* Difficulty Selector */
.difficultySelector {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vh;

}

/* Performance */
.performance {
    height: 100%;
    width: 100%;
}

/* allNote */
.noteDisplay {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    scale: 0.8;
    margin-top: 6vh;
}

.grandStaff {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    position: absolute;

}

.note {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 161px;
    left: 445px;
    top :var(--note-height);
    scale: 0.6;
}

.SVGContainer {
    width: 1100px;
    height: 400px;
    margin: 3%;
    position: relative;
    flex: 0 0 auto; 
}

@media screen and (max-width: 1000px) {
    body {
        background-color: rgb(32, 195, 157);
    }
}

/* Extra Lines */
.extraLinesContainer {
    position: absolute;
    scale: 0.87;
    left: 497px;
    top: -154px;
}

/* Combo text */
.comboContainer {
    display: inline-flex;
    justify-content: center;
}

.comboText {
    margin: 3vw;
}

/* Grand Staff */

.GrandStaff {
    top: -4px;
    position: absolute;
}

/* Splash */
.splash {
    width: 100%;
    height: 100%;
    position: relative;
}

.outerTitleContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.titleLetter {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    font-size: 150px;
    color: white;
}

.innerTitleContainer {
    position: fixed;
    top: 120%;
    display: inline-flex;
}

.titleContainer {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.transparent {
    opacity: 0;
}
#splashStart {
    position: absolute;
}


